extends layout

block input

    .panel.panel-default
      .panel-heading
        h1 What is the Drude-Lorentz Model?
      .panel-body
        p The Drude-Lorentz Model is an analytical formula for modelling the optical properties of materials.
