extends layout

div.container

  div.row

    div.col-md-6

      block content

        .nav(class="navbar navbar-default navbar-fixed-top ", role="banner", id="top")
          .container
            .navbar-header
              .navbar-brand
                h1
                  b Drude-Lorentz Model

      block materials

        br
        br
        br
        br

        div(ng-controller='materialController')

          .panel.panel-default
            .panel-heading
              h2 Materials
            .panel-body(role="navigation")
              .nav
                ul(class="nav nav-pills")
                  li(ng-repeat='material in materials', role="presentation", class="active")
                    a(href='#', ng-click="editCurrentMaterial(material);") {{material.name}}

          .panel.panel-default
            .panel-heading
              h2 Parameters
            .panel-body
              ul(ng-model='currentMaterial')
                li {{currentMaterial.name}}
                li {{currentMaterial.eps0}}
                li {{currentMaterial.g0}}
                li {{currentMaterial.f1}}
                li {{currentMaterial.w1}}
                li {{currentMaterial.g1}}
                li {{currentMaterial.f2}}
                li {{currentMaterial.w2}}
                li {{currentMaterial.g2}}
                li {{currentMaterial.f3}}
                li {{currentMaterial.w3}}
                li {{currentMaterial.g3}}

      block limits

        .panel.panel-default
          .panel-heading
            h2 Wavelength Limits
          .panel-body
            div.input-group
              span.input-group-addon Minimum Wavelength
              input.form-control(name='wmin', placeholder='0.3')
            br
            div.input-group
              span.input-group-addon Maximum Wavelength
              input.form-control(name='wmin', placeholder='2')

    div.col-md-6

      block plot
    
        .panel.panel-default
          .panel-heading
            h2 Plot
          .panel-body
            svg#plot(width="600",height="400")