extends layout

block input

  div(ng-controller='materialController')

    .panel.panel-default
      .panel-heading
         h2 Materials
      .panel-body(role="navigation")
        .btn-group
          ul(class="list-inline")
            li(ng-repeat='material in materials')
              button(class="btn btn-primary", ng-class='currentClass(material.name)', ng-click="editCurrentMaterial(material);", type="submit")
                {{material.name}}
            li
              a(class="btn btn-warning", role="button", href='/editmaterials') Edit
            li
              a(class="btn btn-warning", role="button", href='/newmaterial') New
    
    .panel.panel-default
      .panel-heading
        h2 Parameters
      .panel-body(ng-model='currentMaterial')  
        table.table.table-hover.table-condensed
          tr
            $$\epsilon = \epsilon_{\infty} - \frac{\omega_p^2}{\omega^2 - i \gamma} + \frac{f_1 \omega_{1}^2}{\omega_1^2 - \omega^2 -\ i \gamma_1} + \frac{f_2 \omega_{2}^2}{\omega_2^2 - \omega^2 - i \gamma_2}$$  
          tr
            td $\epsilon_0 = $#[span(mathjax-bind="currentMaterial.eps0")]
            td $m^* = $#[span(mathjax-bind="currentMaterial.meff")]
            td $\gamma_0 = $#[span(mathjax-bind="currentMaterial.g0")]
          tr
            td $f_1 = $#[span(mathjax-bind="currentMaterial.f1")]
            td $\omega_1 = $#[span(mathjax-bind="currentMaterial.w1")]
            td $\gamma_1 = $#[span(mathjax-bind="currentMaterial.g1")]
          tr
            td $f_2 = $#[span(mathjax-bind="currentMaterial.f2")]
            td $\omega_2 = $#[span(mathjax-bind="currentMaterial.w2")]
            td $\gamma_2 = $#[span(mathjax-bind="currentMaterial.g2")]
    .panel.panel-default
      .panel-heading
        h2 Wavelength Limits
      .panel-body
        div.input-group
          span.input-group-addon Minimum Wavelength
          input.form-control(name='wmin', placeholder='0.3')
        br
        div.input-group
          span.input-group-addon Maximum Wavelength
          input.form-control(name='wmin', placeholder='2')

block output
  .panel.panel-default
    .panel-heading
      h2 Plot
    .panel-body
      svg#plot(width="550",height="400")