extends layout

block input

    .panel.panel-default
      .panel-heading
         h2 Materials
      .panel-body(role="navigation")
        .btn-group
          ul(class="list-inline")
            li(ng-repeat='material in materials')
              button(class="btn btn-primary", ng-class='currentClass(material.name)', ng-click="editCurrentMaterial(material);", type="submit")
                {{material.name}}
            li
              a(class="btn btn-warning", role="button", href='/editmaterials') Edit
            li
              a(class="btn btn-warning", role="button", href='/newmaterial') New
    
    .panel.panel-default
      .panel-heading
        h2 Parameters
      .panel-body(ng-model='currentMaterial')  
        table.table.table-hover.table-condensed
          tr
            $$\epsilon = \epsilon_{\infty} - \frac{f_0 \cdot \omega_p^2}{\omega^2 - i \omega \gamma} + \sum_j \frac{f_j \cdot \omega_{p}^2}{\omega_j^2 - \omega^2 + i \omega \gamma_j}$$  
          tr
            td $\epsilon_\infty = $#[span(mathjax-bind="currentMaterial.eps0")]
            td $m^* = $#[span(mathjax-bind="currentMaterial.meff")]
          tr
            td $f_0 = $#[span(mathjax-bind="currentMaterial.f0")]
            td $\gamma_0 = $#[span(mathjax-bind="currentMaterial.g0")]      
          tr
            td $f_1 = $#[span(mathjax-bind="currentMaterial.f1")]
            td $\omega_1 = $#[span(mathjax-bind="currentMaterial.w1")]
            td $\gamma_1 = $#[span(mathjax-bind="currentMaterial.g1")]
          tr
            td $f_2 = $#[span(mathjax-bind="currentMaterial.f2")]
            td $\omega_2 = $#[span(mathjax-bind="currentMaterial.w2")]
            td $\gamma_2 = $#[span(mathjax-bind="currentMaterial.g2")]
          tr
            td $f_3 = $#[span(mathjax-bind="currentMaterial.f3")]
            td $\omega_3 = $#[span(mathjax-bind="currentMaterial.w3")]
            td $\gamma_3 = $#[span(mathjax-bind="currentMaterial.g3")]
          tr
            td $f_4 = $#[span(mathjax-bind="currentMaterial.f4")]
            td $\omega_4 = $#[span(mathjax-bind="currentMaterial.w4")]
            td $\gamma_4 = $#[span(mathjax-bind="currentMaterial.g4")]
          tr
            td $f_5 = $#[span(mathjax-bind="currentMaterial.f5")]
            td $\omega_5 = $#[span(mathjax-bind="currentMaterial.w5")]
            td $\gamma_5 = $#[span(mathjax-bind="currentMaterial.g5")]          
block output
  .panel.panel-default
    .panel-body
      plot-graph
      div.input-group
        span.input-group-addon Minimum Wavelength
        input.form-control(type='text', name='wmin', placeholder='0.3', ng-model='wmin') 
      br
      div.input-group
        span.input-group-addon Maximum Wavelength
        input.form-control(type='text', name='wmax', placeholder='2', ng-model='wmax') 