doctype html
html(ng-app="drudeLorentzApp")
  head
    title= "Optical Properties with the Drude-Lorentz Model"

    // configure mathjax
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
     
    // import mathjax
    script(src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js') // import angular js
    script(src='/javascripts/angular.js') //import angular controller

    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js')  //import d3

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/mathjs/1.2.0/math.min.js')

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

    link(rel='stylesheet', href='/stylesheets/style.css')

    // material design bootstrap theme
    // link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.css')

  body(ng-controller='materialController')

    div(ng-controller='materialController')

      div.container
        div.row
          .nav(class="navbar navbar-default navbar-fixed-top ", role="banner", id="top")
            .container
              .navbar-header
                .navbar-brand
                  h1
                    a(href="/")
                      b Drude-Lorentz Model
                    span(class="glyphicons glyphicons-brightness-increase")
        div.row
          div.col-md-6.col-md-push-6
            block output
          div.col-md-6.col-md-pull-6
            block input
