body {
  padding: 15px;
  padding-top: 75px;
  font: 14px Helvetica, Arial,"Lucida Grande", sans-serif;
}

a {
  color: #00B7FF;
}

a:visited { 
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.navbar-nav > li > a {
  padding-top:5px !important; padding-bottom:5px !important;
}

.navbar-brand {
  padding: 5px 5px;
}

.navbar-default {
  background-color: #6C6DD5;
}

h1 {
  margin: 5px 5px;
  font-size: 30px;
}

h2 {
  margin: 2px 2px;
  font-size: 24px;
}

.container{
  max-width: 1350px;
}

.col-md-6{
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-brand{
  margin-left: -5px;
}

.panel-heading{
  padding: 4px 10px;
}

.table{
  margin-bottom: 0px;
}

.MathJax_Display {
  margin: 18px 5px; 
}

svg {
  margin-bottom: 25px;
}