body {
  padding: 15px;
  padding-top: 80px;
  font: 14px Helvetica, Arial,"Lucida Grande", sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-nav > li > a {
  padding-top:5px !important; padding-bottom:5px !important;
}

.navbar-brand {
  padding: 5px 5px;
}

h1 {
  margin: 5px 5px;
  font-size: 30px;
}

h2 {
  margin: 3px 3px;
  font-size: 26px;
}

.container{
  max-width: 1350px;
}
